# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
.cache
.nox
.pytest_cache/
.tox/

# Type checkers
.mypy_cache/
.pyre/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Environment files
.env
.env.*

# SQLite
*.sqlite3

# Logs
*.log

# Poetry cache
.cache/pypoetry/
